* {
  margin: 0;
  padding: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 0 6px rgba(7, 6, 6, 0.7);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Header / Nav */

header {
  position: fixed;
  display: flex;
  justify-content: flex-end;

  top: 0;
  left: 0;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

a:hover {
  text-decoration: none !important ;
}

li {
  width: 5vw;
  list-style: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5vh;
  margin-right: 1vh;
  color: #00adb5;
  margin-left: 1rem;
  border-radius: 10px;
  display: inline-flex;
}

.nav h2 {
  position: relative;
  border-radius: 25px;
  padding: 0.5rem 1rem;

  color: #eee;
  margin-left: 20px;
}

.nav h2:hover {
  cursor: pointer;
}

.nav h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav h2:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#nav {
  text-decoration: none;
  color: white;
}

h1 {
  padding-bottom: 30px;
  padding-top: 40px;
}

/* Pause/Play Button Styling */

#myBtn {
  position: fixed;
  bottom: 1rem;
  right: 2px;
  width: 100px;
  padding: 1rem 1rem;
  border: 2px solid #00adb5;
  border-radius: 10px;
  background: rgb(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  color: #00adb5;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
  transition: 300ms ease-in;
}

/* Text Section Styling */

.section-text {
  backdrop-filter: blur(30px);
  background-color: #2b384d57;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 40vw;
  padding: 2rem 4rem;
}

.section-text p {
  margin-top: 25px;
}

.textbox {
  width: 35vw;
  height: auto;

  border-radius: 15px;
}

.square {
  display: inline-block;
}

/* Introduction text  */

.intro-section-container {
  display: flex;
  position: relative;
  margin: auto;
  height: 800px;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 60vh;

  align-items: center;
  justify-content: center;
}

/* About Section */

.about-section-container {
  display: flex;
  position: relative;
  height: 800px;
  margin: auto;
  margin-top: 50vh;
  align-items: center;
  justify-content: center;
}

/* Projects Section */

.projects {
  width: fit-content;

  padding: 0 100px 50px;
}

.projects-section-container {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 60vh;

  align-items: center;
  justify-content: center;
}

h1 {
  color: antiquewhite !important;
}

p {
  color: antiquewhite;
  font-size: 22px;
}

.d-block {
  object-fit: contain;
}

.carousel-item img {
  width: 45vw !important;
  min-height: 50vh;
  height: auto;
  max-height: 350px;
  margin-bottom: 6vh;
}

/* Contact Me Section */

div.section-text.contact-me {
  background-color: rgba(0, 0, 0, 0);
}

.contact-me-section-container {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 60vh;
  align-items: center;
  justify-content: center;
}

.contact-me {
  margin-bottom: 160px;
  padding-bottom: 70px;
}

#contact {
  color: antiquewhite;
}

.entry-forms {
  margin-top: 100px;
}

.email-entry {
  width: 25vw;
  border-radius: 25px;
}

.message-entry {
  background-color: white;
  width: 25vw;
  margin-top: 2.5vh;

  border-radius: 5px;
}

.email-entry:hover {
  box-shadow: 0 0 30px #00f2ff;
  transition: 300ms ease-out;
}

.message-entry:hover {
  box-shadow: 0 0 30px #00f2ff;
  transition: 300ms ease-out;
}

.action-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.action-button {
  border-radius: 15px;
  padding: 0.5rem 2rem;
}

#send-button {
  color: #00adb5;
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  background-color: ivory;
  border: 1.4px solid #00adb5;
  border-radius: 25px;
  width: 20rem;
  height: 5rem;
}

#send-button:hover {
  box-shadow: 0 0 30px #00adb5;
  background-color: #00adb5;
  color: ivory;

  transition: 300ms ease-in;
}

/* Social media icons  */

.social-icons {
  width: 50px;
  position: fixed;
  top: 90%;
  margin-bottom: 15px;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
}
.social-icons img {
  display: block;
  width: 60px;
  margin: 0 auto 20px;
  cursor: pointer;
}

.progress {
  position: fixed;
  width: 80%;
  margin-top: 100px;
  margin-left: 10%;
  height: 50px;
  background-color: #00adb5;
}

/* Fade in classes */

.fade-in {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-in.appear {
  opacity: 0.99;
}
